<!DOCTYPE html>
<html>

	{% if page.title != 'index' %}
	    {% include head.html %}
	{% else %}
		{% include index_head.html %}
	{% endif %}


<body id="page-top" class="landing-page">

	{% if page.title == 'Sail4Timmy' %}
	    {% include s4theader.html %}
    {% else %}
        {% if page.title != 'index' %}
            {% include header.html %}
        {% endif %}
	{% endif %}
    TEST~TEST~TEST~TEST~TEST~TEST
    {{ content }}

	{% if page.title != 'index' %}
	    {% include footer.html %}
	{% else %}
		{% include index_footer.html %}
	{% endif %}

</body>
</html>